@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');  
  
/* Fonts */
h1, h3, h4, div.copyright {
    font-family: "Indie Flower", cursive;
    font-style: normal;
}
/* Media Queries */
@media (min-width: 576px) {

  }
  
@media (min-width: 767px) and (max-width: 769px) {
    body{
        font-size: 15px;
        border: 2px solid black;
    }
    
    header .div-nav{
        display: flex;  
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .container {
        display:flex;
        flex-direction: column;
        align-items: stretch;
        border: none;
        
    }

    .container > ul {
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    li.project {
        border: 1px solid black;
        display: flex;
        justify-content: center;
        background-color: rgba(146, 143, 143, 0.747);
    }

    li.works {
        background-color: rgba(146, 143, 143, 0.747);
    }

    li.course{
        margin: 0px 0px 0px 10px;
    }

    li.course:last-child{
        margin-bottom: 10px;
    }

    .project-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:  1px solid black;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    h4 {
        margin-top: 0px;
    }
    
    p {
        margin-left: 10px;
    }
    .work-title {
        display:flex;
        justify-content: center;
        border: 1px solid black;
        margin: 0px 0px 0px 0px;
    }

    .education-title{
        display: flex;
        justify-content: center;
        margin-right: 100px;
    }

    .review-title{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .review{
        flex-direction: column !important; /* Priority Conflic in CSS */
        align-items: center; 
        justify-content: space-between;
        padding : 10px;
    }

    .card:first-of-type {
        display: none;
        margin-bottom: 100px;
      }

    .card:last-child {
        display: none;
    }
}
  
  @media (min-width: 992px) {
    
  }
  
  @media (min-width: 1200px) {
   
  }
  
.div-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
}


nav .nav_links {
    display: flex; /* espace entre les liens */
    list-style: none;
    flex-direction: row;
   
}

.first-title{
    display: flex;
    justify-content: center ;
    align-items: center;
}

.nav_links li::after{
    content: "/"; /* add a / after each items */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav_links li:last-child::after{
    content: ""; /* No "/" after the last elements */
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    transition: all 0.3s ease 0s;
} 

ul{
    list-style: none;  
}

/* Container */
.container {
    display: flex;
    justify-content: center;
}

.container > ul {
    border: 1px solid black;
}

.container > ul > li  {
    border-bottom: 1px solid black;
}
.container > ul > li:last-child {
    border-bottom: none;
}
.container > ul > li.course{ /* We can select specific element with the properties.class */
    border-bottom: none;
}
.course::before{
    content: "- ";
    border-bottom: none;
}

.project {
    padding-bottom: 10px;
    padding-right: 1em;
}

/* Cards */

.review{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    padding : 10px

}
.card {
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    margin-right: 10rem;
    margin-left: 5em;
    border: 1px solid black;
    text-wrap: wrap; /* Gutter or alleys between grid cells can be created using column-gap or row-gap */
}

.review .card > .text-card{
    word-wrap: break-word;
    padding-bottom: 1em;
}

.card .signature {
    color: gray;
}
.copyright {
    padding-top: 3em;
    text-align: center;
}

