header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav_links {
    display: flex;
    gap: 1.5rem; /* espace entre les liens */
    list-style: none;
}

.first-title{
    display: flex;
    justify-content: center ;
}

.nav_links li::after{
    content: "/"; /* add a / after each items */
    margin-left: 0.5rem;
}

.nav_links li:last-child::after{
    content: ""; /* No "/" after the last elements */
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    transition: all 0.3s ease 0s;
} 

ul{
    list-style: none;  
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr /* fr pour fraction */
}

.container > ul {
    border: 1px solid black;
} 

.container > ul > li  {
    border-bottom: 1px solid black;
}
.container > ul > li:last-child {
    border-bottom: none;
}
.container > ul > li.course{ /* We can select specific element with the properties.class */
    border-bottom: none;
}
.course::before{
    content: "- ";
    border-bottom: none;
}

.project {
    padding-bottom: 10px;
}


